$minWidth: 640px;

$colorYellow: #faa61a;
$colorYellowHover: #fab74b;
$colorGrey: #f4f4f4;
$colorDark: #1a1a1a;

$bp1: 1280px;
$bp2: 1840px;

/*basic stiles start*/
@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';
@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/normalize';
/*basic stiles end*/

/*slickslider stiles start*/
@import 'sass/slick';
/*slickslider stiles end*/



/*global stiles start*/
@import 'sass/main';
/*global stiles end*/




@import 'sass/popup';

