.popup.popup_course
	.popup-inner
		.popup-layout
			.popup-header.popup-header_before
				.popup-close
				.popup-header__before
					.popup-header__message Если вы уже купили курс, авторизируйтесь
					.popup-header__btn
						.btn.js-popup-course-login ВОЙТИ
				.popup-header__after
					form.js-form.popup-header__form(method='post', action='/data/test.json')
						.form-field
							input(type='text', name='email', data-required='email', placeholder='E-mail')
							.form-field__message
						.form-field
							input(type='password', name='password', data-required='true', placeholder='Пароль')
							.form-field__message
						.form-field.form-field_submit
							input.btn(type='submit', value='ВОЙТИ')
			.popup-content
				.popup-title Для просмотра курса вам нужно сделать 3 простых шага:

				.popup-tabs
					.popup-tabs__menu
						.popup-tabs__menu-item(data-tab-link='popup_course-1', data-tab-group='popup_course').is-active 1
						.popup-tabs__menu-item(data-tab-link='popup_course-2', data-tab-group='popup_course') 2
						.popup-tabs__menu-item(data-tab-link='popup_course-3', data-tab-group='popup_course') 3
					.popup-tabs__list
						.popup-tabs__list-item(data-tab-targ='popup_course-1', data-tab-group='popup_course').is-active
							.popup-tabs__list-ico: img(src='/img/ico/ico-popup_course-1.svg', alt='')
							.popup-tabs__list-text Зарегистрироваться
						.popup-tabs__list-item(data-tab-targ='popup_course-2', data-tab-group='popup_course')
							.popup-tabs__list-ico: img(src='/img/ico/ico-popup_course-2.svg', alt='')
							.popup-tabs__list-text Оплатить курс
						.popup-tabs__list-item(data-tab-targ='popup_course-3', data-tab-group='popup_course')
							.popup-tabs__list-ico: img(src='/img/ico/ico-popup_course-3.svg', alt='')
							.popup-tabs__list-text Начать просмотр

				.popup-title Это займёт пару минут вашего времени

				form.js-form.popup-form.clearfix(method='post', action='/data/test.json')
					.form-field
						input(type='text', name='userName', data-required='true', placeholder='Ваше имя')
						.form-field__message
					.form-field
						input(type='text', name='email', data-required='email', placeholder='E-mail')
						.form-field__message
					.form-field
						input(type='password', name='password', data-required='true', placeholder='Пароль')
						.form-field__message
					.form-field.form-field_submit
						input.btn(type='submit', value='ЗАРЕГИСТРИРОВАТЬСЯ И ОПЛАТИТЬ')
					.form-text Используйте эту почту и пароль для входа каждый раз, чтобы просмотреть курс


	.popup-overlay
