extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content
	nav.nav
		.nav__logo.om: img(src='/img/logo-m.svg')
		.nav__handler: i
		.nav__legend.nm
			.nav__legend-name: span.js-part-name 
			.nav__legend-up
			.nav__legend-down
		.nav__list
			.nav__item: a.nav__link(href='#welcome') ГЛАВНАЯ
			.nav__item: a.nav__link(href='#education') КАК ПРОХОДИТ ОБУЧЕНИЕ?
			.nav__item: a.nav__link(href='#important') ВАЖНО
			.nav__item: a.nav__link(href='#announce') СОДЕРЖАНИЕ
			.nav__item: a.nav__link(href='#prospect') О КУРСЕ
			.nav__item: a.nav__link(href='#about') О ШКОЛЕ
			.nav__item: a.nav__link(href='#feedback') ОТЗЫВЫ И РАБОТЫ УЧАСТНИКОВ
			.nav__item: a.nav__link(href='#subscribe') МЫ В СОЦ.СЕТЯХ
			.nav__item: a.nav__link(href='#contact') НАШИ КОНТАКТЫ



	section.section.section_welcome
		.ancor#welcome
		.inner.welcome
			.welcome__logo.nm: img(src='/img/logo.svg')
			.welcome__title MAСARONS
			.welcome__subtitle вашими руками: 2&nbsp;вида печений и&nbsp;12&nbsp;экзотических начинок Кондитерский #[span онлайн-курс] от&nbsp;Алины&nbsp;Макаровой
			.welcome__carousel
				.carousel.carousel_welcome
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/03.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/02.jpg')
					a.carousel__item.carousel__item_video(href='#')
						.carousel__item-title НЕСКОЛЬКО СЛОВ О ВИДЕО-КУРСЕ
						.carousel__item-img: img(src='/img/carousel/01.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/03.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/02.jpg')
			.welcome__text
				p.
					Всегда мечтали делать macarons дома?<br>
					Угощать друзей, готовить их на&nbsp;заказ, дарить как комплимент?<br>
					После курса вы&nbsp;сможете делать этот капризный десерт на&nbsp;любой кухне.
				p Попробуем?
			.welcome__promo
				.welcome__promo-sale - 50%
				.welcome__promo-text ПОЛУЧИ КУРС СО СКИДКОЙ #[br.nm] ЗА #[span 2490 РУБ].
				.welcome__promo-btn
					a.btn(href='#', data-popup='.popup_course') ПОЛУЧИТЬ КУРС

	section.section.section_education
		.ancor#education
		.inner.education
			.education__title КАК ПРОХОДИТ #[span ОБУЧЕНИЕ?]
			.education__list

				.education__item
					.education__item-num 1
					.education__item-text
						p После оплаты вы&nbsp;сразу получаете доступ ко&nbsp;всем материалам курса.
						p #[b Начать можно в&nbsp;любой день]

				.education__item
					.education__item-num 2
					.education__item-text
						p Вы последовательно изучаете видео и&nbsp;тек-стовые описания.
						p #[b Всегда можно обратиться к&nbsp;шеф-кондитеру]

				.education__item
					.education__item-num 3
					.education__item-text
						p Приступаете к приготовлению макаронс дома
						p #[b Ого, получается с&nbsp;первого раза!]

				.education__item
					.education__item-num 4
					.education__item-text
						p Восхищаетесь красивой юбочкой, вкусными начинками и&nbsp;#[b делитесь своими впечатлениями] с&nbsp;нами :)
						p И с&nbsp;близкими!

				.education__item
					.education__item-num 5
					.education__item-text
						p У вас навсегда остается доступ к&nbsp;материалам и&nbsp;возможность спросить совета у&nbsp;шеф-кондитера

	section.section.section_important
		.ancor#important
		.inner.important
			.important__title ВАЖНО
			.important__menu
				.important__menu-item(data-tab-link='important1', data-tab-group='important').is-active 1
				.important__menu-item(data-tab-link='important2', data-tab-group='important') 2
				.important__menu-item(data-tab-link='important3', data-tab-group='important') 3
				.important__menu-item(data-tab-link='important4', data-tab-group='important') 4
			.important__list
				.important__list-item(data-tab-targ='important1', data-tab-group='important').is-active
					.important__list-ico: img(src='/img/ico/ico-imp-1.svg', alt='Авторская рецептура')
					.important__list-text Авторская, проверенная рецептура!

				.important__list-item(data-tab-targ='important2', data-tab-group='important')
					.important__list-ico: img(src='/img/ico/ico-imp-2.svg', alt='Быстрая связь с шеф-кондитером')
					.important__list-text Быстрая связь с&nbsp;шеф-кондитером:<br>Есть вопрос, не&nbsp;получается, непонятно&nbsp;— спроси!

				.important__list-item(data-tab-targ='important3', data-tab-group='important')
					.important__list-ico: img(src='/img/ico/ico-imp-3.svg', alt='Обучение из любой точки мира')
					.important__list-text Обучение из&nbsp;любой точки мира!<br>Не&nbsp;надо ездить на&nbsp;мастер-класс, зато можно печь в&nbsp;другой стране у&nbsp;себя на&nbsp;кухне.

				.important__list-item(data-tab-targ='important4', data-tab-group='important')
					.important__list-ico: img(src='/img/ico/ico-imp-4.svg', alt='Экспериментируйте')
					.important__list-text Пересматривайте видео,перечитывайте рецепты, экспериментируйте!


	section.section.section_announce
		.ancor#announce
		.inner.announce
			.announce__title
				p #[span БОЛЕЕ 15] МИНУТ ВИДЕО-КУРСА
				p #[span 37] СТРАНИЦ ОПИСАНИЯ

			.announce__list
				.announce__list-title Весь процесс приготовления, отсаживания и выпечки:
				ul
					li Как подобрать #[b инвентарь] и ингредиенты.
					li Что такое итальянская #[b меренга] и&nbsp;как&nbsp;готовить макаронс на&nbsp;ней.
					li Как "подружиться" с&nbsp;вашей #[b духовкой] и&nbsp;подобрать правильный температурный режим.
					li Как правильно замесить #[b тесто].
					li Как сделать различные виды #[b начинок]: авторские и&nbsp;классические.
					li Какие #[b красители] использовать для&nbsp;лучшего результата.
					li Как сделать красивые цветные #[b разводы] на&nbsp;макаронс.
					li Как добиться идеальной #[b юбочки] и&nbsp;"мяса".
					li Как правильно #[b хранить] макаронс и&nbsp;подавать их&nbsp;к&nbsp;столу.

			.announce__carousel
				.carousel.carousel_announce
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/03.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/02.jpg')
					.carousel__item.carousel__item_video
						.carousel__item-title НЕСКОЛЬКО СЛОВ О ВИДЕО-КУРСЕ
						.carousel__item-img: img(src='/img/carousel/01.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/03.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/02.jpg')


	section.section.section_target
		.inner.target.target_cours
			.target__col
				.target__col-title ПОЛУЧИ КУРС<br>ДО 12 НОЯБРЯ ЗА
				.target__col-price 2490 руб.
			.target__col
				.target__col-title ВАША ЭКОНОМИЯ #[span 2490 РУБ.]
				.target__col-price.nm - 50%
			.target__btn
				a.btn(href='#', data-popup='.popup_course') ПОЛУЧИТЬ КУРС


	section.section.section_prospect
		.ancor#prospect
		.inner.prospect
			.prospect__title СТАНЬТЕ КОНДИТЕРОМ ЗА&nbsp;ЧАС&nbsp;ОБУЧЕНИЯ!
			.prospect__text
				p Курс экономит вам месяцы стараний и усердий, сгоревших крышечек, неподнявшегося теста и&nbsp;разочарований от&nbsp;кондитерского дела.
				p Алина Макарова собрала всю значимую информацию, сделала пошаговые инструкции, прописала рекомендации и&nbsp;учла все ваши «ой» заранее. В&nbsp;курсе разобраны все возможные ошибки и&nbsp;их причины. Технология приготовления, отсаживания и&nbsp;выпечки описана максимально подробно.

			.prospect__visual
				.prospect__visual-title Просто следуйте описанию и готовьте много-много macarons!
				.prospect__visual-list
					.prospect__visual-item
						.prospect__visual-ico: img(src='/img/ico/ico-ann-1.svg', alt='Экспериментируйте')
						.prospect__visual-text На&nbsp;свадьбу или&nbsp;торжество

					.prospect__visual-item
						.prospect__visual-ico: img(src='/img/ico/ico-ann-2.svg', alt='Экспериментируйте')
						.prospect__visual-text На заказ

					.prospect__visual-item
						.prospect__visual-ico: img(src='/img/ico/ico-ann-3.svg', alt='Экспериментируйте')
						.prospect__visual-text Как любимое угощение

					.prospect__visual-item
						.prospect__visual-ico: img(src='/img/ico/ico-ann-4.svg', alt='Экспериментируйте')
						.prospect__visual-text В подарок

					.prospect__visual-item
						.prospect__visual-ico: img(src='/img/ico/ico-ann-5.svg', alt='Экспериментируйте')
						.prospect__visual-text Как новое хобби

					.prospect__visual-item
						.prospect__visual-ico: img(src='/img/ico/ico-ann-6.svg', alt='Экспериментируйте')
						.prospect__visual-text Для ресторанного дня

				.prospect__visual-subtitle Гарантия результата: аккуратные, лакомые, нежные печенья!

				.prospect__carousel
					.carousel.carousel_prospect
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/03.jpg')
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/02.jpg')
						.carousel__item.carousel__item_video
							.carousel__item-title НЕСКОЛЬКО СЛОВ О ВИДЕО-КУРСЕ
							.carousel__item-img: img(src='/img/carousel/01.jpg')
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/03.jpg')
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/02.jpg')

				.prospect__list
					.prospect__list-title КАКИЕ РЕЦЕПТЫ ВЫ СМОЖЕТЕ ИСПОЛНИТЬ
					.prospect__list-subtitle Классическое и шоколадное печенья «macaron» и&nbsp;12&nbsp;начинок:
					ul
						li Пина-колада
						li Банан-молочный шоколад
						li Мохито
						li Малина-базилик
						li Черная смородина-белый шоколад
						li Фундучный ганаш
						li Пряная вишня с&nbsp;ромом
						li Абрикос-маракуйя
						li Базовые рецепты классических начинок (разные виды ганаша и&nbsp;на&nbsp;сливочном сыре)


	section.section.section_about
		.ancor#about
		.inner.about
			.about__title О ШКОЛЕ
			.about__text
				p #[b Алина Макарова]&nbsp;— основатель Школы кондитерского искусства в&nbsp;Москве. Более 1000 очных учеников и 3000 онлайн. Наши ученики из США, Германии, Канады, Украины, Австралии, Мексики, Казахстана и, разумеется, России.
				p Помогаем всем, кто хочет стать кондитером, осуществить мечту.
				p На курсах Алина делится авторскими рецептами, обучает всем тонкостям приготовления, начиная с подбора инвентаря, заканчивая оригинальным современным оформлением.
			.about__subtitle ПО&nbsp;РЕЗУЛЬТАТАМ КУРСА МОЖНО ПОЛУЧИТЬ #[span ЭЛЕКТРОННЫЙ СЕРТИФИКАТ]

			.about__carousel
				.carousel.carousel_about
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/03.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/02.jpg')
					.carousel__item.carousel__item_video
						.carousel__item-title НЕСКОЛЬКО СЛОВ О ВИДЕО-КУРСЕ
						.carousel__item-img: img(src='/img/carousel/01.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/03.jpg')
					.carousel__item
						.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
						.carousel__item-img: img(src='/img/carousel/02.jpg')

	section.section.section_target
		.inner.target.target_prod
			.target__title ТОЛЬКО ДЛЯ #[span ВАС]
			.target__subtitle НАУЧИТЕСЬ ГОТОВИТЬ #[span МАКАРОНС], КОТОРЫЕ ОЦЕНЯТ ВАШИ БЛИЗКИЕ И ЗАКАЗЧИКИ!
			.target__col-list
				.target__col.target__col_1
					.target__col-title СТОИМОСТЬ КУРСА<br>ДО 12 НОЯБРЯ
					.target__col-price 2490 руб.
				.target__col.target__col_2
					.target__col-price.nm - 50%
					.target__col-title ВАША ЭКОНОМИЯ #[span 2490 РУБ.]
			.target__btn
				a.btn(href='#', data-popup='.popup_course')
					span.om ПОЛУЧИТЬ КУРС
					span.nm ХОЧУ НАУЧИТЬСЯ ГОТОВИТЬ МАКАРОНС!

	section.section.section_feedback
		.ancor#feedback
		.inner.feedback
			.feedback__head
				.feedback__title ОТЗЫВЫ И РАБОТЫ #[span УЧАСТНИКОВ]

				.feedback__carousel.feedback__carousel_photo
					.carousel.carousel_feedback-photo
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/f01.jpg')
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/f02.jpg')
						.carousel__item.carousel__item_video
							.carousel__item-title НЕСКОЛЬКО СЛОВ О ВИДЕО-КУРСЕ
							.carousel__item-img: img(src='/img/carousel/f01.jpg')
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/f02.jpg')
						.carousel__item
							.carousel__item-title В ПОДАРОК РОДНЫМ И ДРУЗЬЯМ
							.carousel__item-img: img(src='/img/carousel/f01.jpg')

			.feedback__carousel.feedback__carousel_text
				.carousel.carousel_feedback-text
					.carousel__item
						.carousel__item-text "Моя мечта о кондитерском искусстве началась именно с макаронс! Давно хотела научится их делать, но никак не решалась. Не удалось попасть на обучение в школе, поэтому приобрела видео-курс и все получилось! Конечно мне еще есть над чем порабоать, но всё в моих руках. Спасибо!"
						.carousel__item-author Мария Скачкова<br>г.Москва
					.carousel__item
						.carousel__item-text "Моя мечта о кондитерском искусстве началась именно с макаронс! Давно хотела научится их делать, но никак не решалась. Не удалось попасть на обучение в школе, поэтому приобрела видео-курс и все получилось!"
						.carousel__item-author Мария Скачкова<br>г.Москва
					.carousel__item
						.carousel__item-text "Моя мечта о кондитерском искусстве началась именно с макаронс! Давно хотела научится их делать, но никак не решалась. Не удалось попасть на обучение в школе, поэтому приобрела видео-курс и все получилось! Конечно мне еще есть над чем порабоать, но всё в моих руках. Спасибо!"
						.carousel__item-author Мария Скачкова<br>г.Москва
					.carousel__item
						.carousel__item-text "Моя мечта о кондитерском искусстве началась именно с макаронс! Давно хотела научится их делать, но никак не решалась. Не удалось попасть на обучение в школе, поэтому приобрела видео-курс и все получилось!"
						.carousel__item-author Мария Скачкова<br>г.Москва
					.carousel__item
						.carousel__item-text "Моя мечта о кондитерском искусстве началась именно с макаронс! Давно хотела научится их делать, но никак не решалась. Не удалось попасть на обучение в школе, поэтому приобрела видео-курс и все получилось! Конечно мне еще есть над чем порабоать, но всё в моих руках. Спасибо!"
						.carousel__item-author Мария Скачкова<br>г.Москва

			.feedback__more Смотри еще больше отзывов в&nbsp;#[span Инстаграм] по&nbsp;хештегу #[span #am_pastry]

	section.section.section_subscribe
		.ancor#subscribe
		.inner.subscribe
			.subscribe__title ПОДПИСЫВАЙТЕСЬ НА&nbsp;НАШИ #[span СОЦ.СЕТИ!]
			.subscribe__soc
				.subscribe__soc-item
					a.subscribe__soc-link.om(href='#', target='_blank'): img(src='/img/soc-vk.svg', alt='')
					#vkGroups.subscribe__soc-widget.nm
						script(type='text/javascript', src='//vk.com/js/api/openapi.js?136')
						script.
							VK.Widgets.Group('vkGroups', {mode: 3, width: '360', height: '260'}, 20003922);
				.subscribe__soc-item
					a.subscribe__soc-link.om(href='#', target='_blank'): img(src='/img/soc-ig.svg', alt='')
					#igGroups.subscribe__soc-widget.nm
						script.
							VK.Widgets.Group('igGroups', {mode: 3, width: '360', height: '260'}, 20003922);




	section.section.section_contact
		.ancor#contact
		.inner.contact
			.contact__addres
				.contact__title НАШИ КОНТАКТЫ
				.contact__item
					.contact__item-title Адрес
					.contact__item-text г.Москва, ул.Чистова&nbsp;11а
				.contact__item
					.contact__item-title Телефон
					.contact__item-text +7 (495) 665&nbsp;84&nbsp;35
				.contact__item
					.contact__item-title E-mail
					.contact__item-text pastry.lab@alinamakarova.ru
		.contact__map#contactMap
		script.
			ymaps.ready(function () {
				var myMap = new ymaps.Map('contactMap', {
							center: [55.696954, 37.741185],
							zoom: 17,
							controls: []
						}),
						myPlacemark = new ymaps.Placemark([55.696954, 37.741185],
								{},
								{
									iconLayout: 'default#image',
									iconImageHref: '/img/map-m.png',
									iconImageSize: [65, 90],
									iconImageOffset: [-32, -90]
								});
				//myMap.controls.add('zoomControl');

				var zoomControl = new ymaps.control.ZoomControl({
					options: {
						position: {
							top: 20,
							left: 20
						},
						size: 'small'
					}
				});
				myMap.controls.add(zoomControl);

				myMap.geoObjects.add(myPlacemark);

				myMap.behaviors.disable('scrollZoom');

			});

	footer.footer
		.inner
			.footer__text Дизайн<br>и разработка
			.footer__title AMICO.<br>STUDIO