

%title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

%stripesSectionYellow{
	background: $colorYellow;
	@include stripes(9, #fab74b);
	@include breakpoint($bp1){
		@include stripes(12, #fab74b);
	}
}

%stripesSectionLight{
	background: $colorGrey;
	@include stripes(9, #fff);
	@include breakpoint($bp1){
		@include stripes(12, #fff);
	}
}

%stripesSectionDark{
	background: $colorDark;
	color: #fff;
	@include stripes(9, #262626);
	@include breakpoint($bp1){
		@include stripes(12, #262626);
	}
}



html {
	width:100%;
	height:100%;
	font-size: 100.01%;
	min-width: $minWidth;
}

body {
	height: 100%;
	font-size: 36px;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	opacity: 1!important;
	color: $colorDark;
	min-width: $minWidth;

	@include breakpoint($bp1){
		font-size: 16px;
	}

	&.show-menu{

		@include breakpoint(0 $bp1 - 1px){
			overflow: hidden;
		}
	}
}


.om{
	@include breakpoint($bp1){
		display: none!important;
	}
}
.nm{
	@include breakpoint(0 $bp1 - 1px){
		display: none!important;
	}
}
.od{

}
.nd{

}


.wrapper  {
	width: 100%;
	min-height: 100%;
	position: relative;
	height: auto !important;
	overflow: hidden;
}

.website {
	position: relative;
	width: 100%;
	@include box-sizing();
	padding-top: 77px;

	@include breakpoint($bp1){
		padding-top: 0;
		padding-left: 48px;
	}
}

.inner{
	padding: 65px (100% / 9);
	@include breakpoint($bp1){
		padding: 100px (100% / 12);
	}
}

.btn{
	display: block;
	color: #fff;
	background: $colorYellow;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-align: center;
	@include border-radius(100px);
	padding: 24px;
	cursor: pointer;
	text-decoration: none;

	* {
		text-decoration: none;
	}

	&:hover{
		background: $colorYellowHover;
	}

	@include breakpoint($bp1){
		padding: 16px;
	}
}



.carousel{
	&__item{
		position: relative;
		display: block;
		text-decoration: none;

		&-title{
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			text-decoration: none;

			@include breakpoint($bp1){
				font-size: 12px;
			}
		}

		&-img{
			display: block;
			text-decoration: none;

			img{
				display: block;
				width: 100%;
			}
		}

		&_video{
			display: block;
			text-decoration: none;

			cursor: pointer;

			.carousel__item-img{
				position: relative;

				&:before{
					content: '';
					width: 80px;
					height: 80px;
					@include border-radius(50%);
					position: absolute;
					top:50%;
					left: 50%;
					margin-left: -40px;
					margin-top: -40px;
					background: #fff url("../img/slider-play.svg") no-repeat 0 0;
					@include box-shadow(0 2px 3px rgba(26,26,26,0.2));
				}
			}


			&:active{

				.carousel__item-img:before{
					@include box-shadow(0 0px 1px rgba(26,26,26,0.2));
				}
			}

			&:hover{
				.carousel__item-title{
					color: $colorYellow;
				}
				.carousel__item-img:before{
					background-position: 0 100%;
				}
			}
		}
	}
}




.nav{

	background: $colorYellow;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 500;
	height: 77px;
	overflow: hidden;
	@include transition(height 0.3s ease);
	border-bottom: 2px solid #fff;

	@include breakpoint($bp1){
		width: 48px;
		border-bottom: none;
		height: 100%;
		overflow: visible;
	}

	.show-menu &{
		height: 100%
	}

	&__logo{
		width: 80px;
		height: 60px;
		position: absolute;
		top:6px;
		left:(100% / 9);
	}

	&__handler{

		width: 50px;
		height: 77px;
		position: absolute;
		top:0;
		right: (100% / 9);
		cursor: pointer;
		z-index: 6;

		&:hover{
			background: $colorYellowHover;
		}

		@include breakpoint($bp1){
			right: 0;
			width: 100%;
			top:15%;
		}

		i{
			width: 50px;
			height: 8px;
			background: #fff;
			display: block;
			position: absolute;
			top:50%;
			left: 50%;
			margin-top: -4px;
			margin-left: -25px;
			@include transition(all 0.3s ease);
			@include border-radius(10px);

			@include breakpoint($bp1){
				width: 26px;
				height: 4px;
				margin-top: -2px;
				margin-left: -13px;
			}

			.show-menu &{
				width: 8px;
				margin-left: -4px;

				@include breakpoint($bp1){
					width: 4px;
					margin-left: -2px;
				}
			}

			&:before,
			&:after{
				content: '';
				display: block;
				width: 50px;
				height: 8px;
				position: absolute;
				top:50%;
				left: 50%;
				margin-left: -25px;
				background: #fff;
				@include transition(all 0.3s ease);
				@include border-radius(10px);

				@include breakpoint($bp1){
					width: 26px;
					height: 4px;
					margin-left: -13px;
				}

			}

			&:before{
				margin-top: 12px;

				@include breakpoint($bp1){
					margin-top: 7px;
				}

				.show-menu &{
					margin-top: -4px;
					@include transform(rotate(45deg));

					@include breakpoint($bp1){
						margin-top: -2px;
					}
				}
			}

			&:after{
				margin-top: -20px;

				@include breakpoint($bp1){
					margin-top: -11px;
				}

				.show-menu &{
					margin-top: -4px;
					@include transform(rotate(135deg));

					@include breakpoint($bp1){
						margin-top: -2px;
					}
				}
			}
		}
	}

	&__list{
		margin-top: 77px;
		@extend %stripesSectionYellow;
		@include box-sizing();
		overflow: auto;
		padding: 0 (100% / 9) 60px;
		height: calc( 100% - 77px );

		@include breakpoint($bp1){
			margin-top: 0;
			height: 100vh;
			width: calc(50vw - 24px);
			margin-left: 48px;
			@include stripes(6, #fab74b);
			padding: 50px 0;
			position: absolute;
			left: -50vw;
			top:0;

			@include transition(left 0.3s ease);

			.show-menu &{
				left: 0;
			}
		}
	}

	&__item{
		margin: 35px 0;


		@include breakpoint($bp1){
			padding: 0 (100% / 6);
		}
	}

	&__link{
		@extend %title;
		text-decoration: none;
		font-size: 50px;

		&.is-active,
		&:hover{
			color: #fff;
		}

		@include breakpoint($bp1){
			font-size: 30px;
		}
	}


	&__legend{
		position: absolute;
		z-index: 5;
		width: 100%;
		height:100%;
		background: $colorYellow;
		top:0;
		left: 0;
		border-right: 1px solid #fab74b;

		&-name{
			font-size: 12px;
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
			position: absolute;
			width: 1px;
			height: 1px;
			left: 50%;
			top:50%;

			span{
				display: block;
				@include transform(rotate(-90deg));
				white-space: nowrap;
			}
		}

		&-up,
		&-down{
			position: absolute;
			width: 100%;
			background: no-repeat 50% 50%;
			cursor: pointer;
			left: 0;
			height: 22%;

			&:hover{
				background-color: $colorYellowHover;
			}
		}

		&-up{
			background-image: url("../img/screen-up.svg");
			background-position: 50% 15%;
			bottom: 22%;
		}
		&-down{
			background-image: url("../img/screen-down.svg");
			background-position: 50% 85%;
			bottom: 0;
		}
	}
}

section{
	position: relative;
}

.ancor{
	position: absolute;
	top: -77px;
	bottom: 0;
	width: 1px;
	background: transparent;

	.welcome &{
		top: 0;
	}

	@include breakpoint($bp1){
		top: 0;
	}
}



.welcome{

	@extend %stripesSectionLight;
	position: relative;

	&__logo{
		position: absolute;
		width: 87px;
		height: 65px;
		top:34px;
		right: 11px;

		@include breakpoint($bp2){
			width: 104px;
			height: 78px;
			right: 29px;
		}

		img{
			width: 100%;
			height: 100%;
		}
	}

	@include breakpoint($bp1){
		@include box-sizing();
		min-height: 100vh;
		overflow: hidden;
	}

	&__title{
		font-size: 50px;
		@extend %title;
		line-height: 1.3;

		@include breakpoint($bp1){
			margin-left: 50%;
		}
	}

	&__subtitle{
		font-size: 40px;
		@extend %title;

		@include breakpoint($bp1){
			margin-left: 50%;
			font-size: 30px;
			margin-bottom: 60px;
		}

		span{
			color: $colorYellow;
		}
	}

	&__text{

		@include breakpoint($bp1){
			margin-left: 50%;
		}

		p{
			margin: 45px 0;

			@include breakpoint($bp1){
				margin: 20px 0;
			}
		}
	}

	&__promo{
		@extend %title;

		@include breakpoint($bp1){
			margin-left: 50%;
		}

		&-sale{
			font-size: 50px;
			color: $colorYellow;
			display: inline;
			margin-right: 10px;

			@include breakpoint($bp1){
				display: block;
				float: left;
			}
		}

		&-text{
			display: inline;
			font-size: 40px;

			@include breakpoint($bp1){
				font-size: 20px;
				display: block;
				margin-left: 160px;
				padding-top: 6px;
			}

			span{
				color: $colorYellow;
			}
		}

		&-btn{
			margin-top: 60px;

			@include breakpoint($bp1){
				width: 60%;
			}

			@include breakpoint($bp2){
				width: 40%;
			}
		}
	}

	&__carousel{
		margin: 50px 0 150px;

		@include breakpoint($bp1){
			width: (4 * 100% / 12);
			position: absolute;
			left: (100% / 12);
			top:0;
			bottom:0;
			margin: 0;
			padding-right: (100% / 12);
		}

		.carousel{
			&__item{
				position: relative;

				&-title{
					font-size: 20px;
					font-weight: 600;
					color: #b1b1b1;
					margin-bottom: 5px;
					overflow: hidden;
					text-overflow: ellipsis;

					@include breakpoint($bp1){
						@include transform(rotate(-90deg));
						@include transform-origin(100% 100%);
						font-size: 12px;
						text-align: right;
						position: absolute;
						right: 100%;
						bottom: calc(100% - 15px);
						margin: 0 5px 0 0;
						width: 60.5%;
					}
				}

				&-img{

					@include breakpoint($bp1){
						margin: 15px 0;
					}

					img{
						display: block;
						width: 100%;
					}
				}
			}
		}

		.slick{

			&-list{

				@include breakpoint($bp1){
					overflow: visible;
				}
			}
			&-arrow{
				position: absolute;
				bottom: -120px;
			}
			&-prev{
				left: 0;

				@include breakpoint($bp1){
					top:160px;
					left: auto;
					right:(-100% / 8);
					margin-right: -25px;
				}
			}
			&-next{
				right:0;

				@include breakpoint($bp1){
					top:485px;
					right:(-100% / 8);
					margin-right: -25px;
				}
			}

			&-dots_wrap{
				position: absolute;
				left: 100px;
				right: 100px;
				bottom: -93px;
				text-align: center;

				@include breakpoint($bp1){
					top:210px;
					right:(-100% / 4);
					width: (100% / 4);
					bottom: auto;
					left: auto;
					height: 275px;

					font-size: 0;

					&:before{
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
				}
			}

			&-dots{
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;

				li{

					@include breakpoint($bp1){
						display: block;
					}

					button{

						@include breakpoint($bp1){
							margin-right: auto;
							margin-left: auto;
						}
					}
				}
			}
		}

	}

}

.education{
	@extend %stripesSectionYellow;

	@include breakpoint($bp1){
		padding-bottom: 60px;
	}

	&__title{
		@extend %title;
		font-size: 50px;
		margin-bottom: 45px;

		@include breakpoint($bp1){
			margin-bottom: 70px;
		}

		span{
			color: #fff;
		}
	}

	&__list{
		@include breakpoint($bp1){
			overflow: hidden;
		}
	}

	&__item{

		@include breakpoint($bp1){
			position: relative;
			width: 20%;
			float: left;
			@include box-sizing();
			padding-right: 40px;

			&:last-child{
				.education__item-num:after{
					display: none;
				}
			}
		}

		&-num{
			@extend %title;
			font-size: 50px;
			color: #fff;
			float: left;
			line-height: 0.75;
			width: 14.2%;

			@include breakpoint($bp1){
				float: none;
				width: auto;
				margin-bottom: 40px;

				&:after{
					content: '';
					width: 13px;
					height: 13px;
					display: block;
					position: absolute;
					@include border-radius(50%);
					background-color: #fff;
					top: 13px;
					left: 50%;
				}
			}
		}

		&-text{

			p{
				margin: 0 0 45px;

				@include breakpoint($bp1){
					margin-bottom: 20px;
				}
			}

			b{
				font-size: 1.125em;
			}
		}
	}
}

.important{

	@include breakpoint($bp1){
		padding-bottom: 60px;
	}

	&__title{
		@extend %title;
		font-size: 50px;
		margin-bottom: 30px;

		@include breakpoint($bp1){
			float: left;
		}
	}

	&__menu{
		float: right;
		margin: -95px 0 30px 30px;

		@include breakpoint($bp1){
			display: none;
		}

		&-item{
			@extend %title;
			font-size: 50px;
			width: 90px;
			height: 90px;
			line-height: 90px;
			background: #fafafa;
			@include border-radius(50%);
			text-align: center;
			color: #b1b1b1;
			cursor: pointer;
			@include box-shadow(0 2px 3px rgba(26,26,26,0.2));
			position: relative;
			@include user-select();
			margin-bottom: 20px;

			&:active{
				top: 2px;
				@include box-shadow(0 0px 1px rgba(26,26,26,0.2));
			}

			&.is-active{
				color: $colorYellow;
			}
		}
	}

	&__list{

		@include breakpoint($bp1){
			display: block;
			margin-left: 20%;
			overflow: hidden;
		}

		&-item{
			display: none;

			@include breakpoint($bp1){
				display: block;
				width: 25%;
				float: left;
				padding-right: 40px;
				@include box-sizing();
			}

			&.is-active{
				display: block;
			}
		}

		&-ico{
			text-align: center;
			width: 260px;
			height: 260px;
			margin: 0 auto 35px;
			padding-right: 120px;

			@include breakpoint($bp1){
				width: 130px;
				height: 130px;
				padding-right: 0;
				margin: 0 0 60px;
			}

			img{
				height: 100%;
				max-width: 100%;
			}
		}
	}

}

.announce{
	@extend %stripesSectionLight;
	overflow: hidden;

	@include breakpoint($bp1){
		position: relative;
	}

	&__title{
		@extend %title;
		font-size: 50px;
		margin-bottom: 45px;

		@include breakpoint($bp1){
			font-size: 30px;
		}

		span{
			color: $colorYellow;
		}

		p{
			margin-bottom: 15px;

			@include breakpoint($bp1){
				display: inline-block;
				margin-right: 30px;
			}
		}
	}

	&__list{

		&-title{
			font-size: 40px;
			font-weight: 600;
			margin-bottom: 40px;

			@include breakpoint($bp1){
				font-size: 18px;
				margin-left: 50%;
			}
		}

		ul{
			line-height: 1.25;

			@include breakpoint($bp1){
				margin-left: 50%;
			}

			li{
				position: relative;

				@include breakpoint($bp1){
					margin: 20px 0 20px 35px;
				}

				&:before{
					content: '';
					display: block;
					width: 13px;
					height: 13px;
					background: $colorYellow;
					@include border-radius(50%);
					position: absolute;
					top:15px;
					left: -35px;

					@include breakpoint($bp1){
						margin: 20px 0;
						top: -16px;
					}
				}
			}
		}
	}

	&__carousel{
		margin: 60px 0 0;

		@include breakpoint($bp1){
			margin: 0;
			width: calc( 20px + (4 * 100% / 12));
			position: absolute;
			top:205px;
			margin-left: -20px;
			left: (100% / 12);
		}

		.carousel{
			&__item{
				position: relative;

				&-title{
					font-size: 20px;
					font-weight: 600;
					color: #b1b1b1;
					margin-bottom: 5px;
					overflow: hidden;
					text-overflow: ellipsis;

					@include breakpoint($bp1){
						//@include transform(rotate(-90deg));
						//@include transform-origin(0 0);
						//font-size: 12px;
						//text-align: right;
						//position: absolute;
						//top: 100%;
						//left: 0;
						//width: 58%;

						font-size: 12px;
						text-align: right;
						position: absolute;
						right: calc(100% - 15px);
						width: 59%;
						bottom: calc(100% - 5px);
						@include transform(rotate(-90deg));
						@include transform-origin(100% 100%);
					}
				}

				&-img{

					@include breakpoint($bp1){
						padding-left: 20px;
					}

					img{
						display: block;
						width: 100%;
					}
				}
			}
		}

		.slick{
			&-arrow{
				position: absolute;
				top: 50%;
				margin-top: -25px;

				@include breakpoint($bp1){
					top: 100%;
				}
			}
			&-prev{
				left: -40px;

				@include breakpoint($bp1){
					left: auto;
					right:140px;
				}
			}
			&-next{
				right:-40px;

				@include breakpoint($bp1){
					right: 30px;
				}
			}
		}
	}
}

.target{
	@extend %stripesSectionDark;
	@extend %title;

	@include breakpoint($bp1){
		overflow: hidden;
		padding-top: 90px;
		padding-bottom: 70px;
	}

	&_cours{

		.target{

			&__col{

				@include breakpoint($bp1){
					width: 40%;
					float: left;
				}

				&-title{
					font-size: 40px;
					margin-bottom: 10px;

					@include breakpoint($bp1){
						font-size: 20px;
						float: left;
					}

					span{
						color: $colorYellow;
						display: block;
					}
				}

				&-price{
					font-size: 50px;
					color: $colorYellow;
					margin-bottom: 20px;

					@include breakpoint($bp1){
						margin-left: 190px;
						line-height: 1;
					}
				}
			}

			&__btn{
				margin-top: 40px;

				@include breakpoint($bp1){
					width: 20%;
					float: left;
					margin-top: 0;
				}
			}
		}


	}

	&_prod{

		@include breakpoint($bp1){
			padding-top: 60px;
			overflow: hidden;
		}

		.target{

			&__title{
				@extend %title;
				font-size: 50px;
				margin-bottom: 30px;

				@include breakpoint($bp1){
					text-align: center;
				}

				span{
					color: $colorYellow;
				}
			}


			&__subtitle{
				@extend %title;
				font-size: 20px;
				margin-bottom: 30px;

				@include breakpoint($bp1){
					text-align: center;
				}

				span{
					color: $colorYellow;
				}
			}

			&__col{

				@include breakpoint($bp1){
					margin: 20px 50px 40px;
					display: inline-block;
					vertical-align: top;
					max-width: 49%;
					@include box-sizing();
				}

				&-title{
					font-size: 40px;
					margin-bottom: 10px;

					@include breakpoint($bp1){
						font-size: 20px;
						display: inline-block;
					}

					span{
						color: $colorYellow;
						display: block;
					}
				}

				&-price{
					font-size: 50px;
					color: $colorYellow;
					margin-bottom: 20px;

					@include breakpoint($bp1){
						display: inline-block;
					}
				}

				&-list{

					@include breakpoint($bp1){
						text-align: center;
						margin: 20px 0 40px;
					}
				}

				&_1{

					@include breakpoint($bp1){

						.target__col-title{
							text-align: right;
							margin-right: 60px;
						}
					}
				}

				&_2{

					@include breakpoint($bp1){

						.target__col-title{
							text-align: left;
							margin-left: 25px;
						}
					}
				}
			}

			&__btn{
				margin-top: 40px;
				overflow: hidden;

				@include breakpoint($bp1){
					width: 40%;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}


	}


}

.prospect{
	@extend %stripesSectionLight;
	position: relative;

	@include breakpoint($bp1){
		padding-bottom: 40px;
	}

	&__title{
		@extend %title;
		font-size: 40px;
		margin-bottom: 45px;

		@include breakpoint($bp1){
			font-size: 30px;
			width: 60%;
			@include box-sizing();
			padding-right: 40px;
			margin-bottom: 30px;
		}
	}

	&__text{

		@include breakpoint($bp1){
			width: 60%;
			@include box-sizing();
			padding-right: 40px;
		}

		p{
			margin: 45px 0;

			@include breakpoint($bp1){
				margin: 20px 0;
				line-height: 1.35;
			}
		}
	}

	&__visual{

		@include breakpoint($bp1){
			width: 60%;
			@include box-sizing();
		}

		&-title{
			font-size: 40px;
			font-weight: 600;

			@include breakpoint($bp1){
				font-size: 18px;
				margin-top: 45px;
			}
		}

		&-list{

			@include breakpoint($bp1){
				font-size: 0;
			}
		}

		&-item{
			white-space: nowrap;
			margin: 60px 0;

			@include breakpoint($bp1){
				font-size: 16px;
				display: inline-block;
				width: (100% / 3);
				@include box-sizing();
				padding-right: 25px;
				margin: 35px 0;
			}
		}

		&-ico{
			width: 28.5%;
			height: 110px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;

			@include breakpoint($bp1){
				width: 80px;
				height: 55px;
				text-align: left;
			}

			img{
				height: 100%;
				max-width: 100%;

				@include breakpoint($bp1){
					width: 55px;
				}
			}
		}

		&-text{
			width: 71.5%;
			display: inline-block;
			white-space: normal;
			vertical-align: middle;

			@include breakpoint($bp1){
				width: 120px;
			}
		}
	}

	&__carousel{
		margin: 60px 0 70px;

		@include breakpoint($bp1){
			margin: 0;
			width: calc( 20px + (4 * 100% / 12));
			position: absolute;
			top:120px;
			right: (100% / 12);
		}

		.carousel{
			&__item{
				position: relative;

				&-title{
					font-size: 20px;
					font-weight: 600;
					color: #b1b1b1;
					margin-bottom: 5px;
					overflow: hidden;
					text-overflow: ellipsis;

					@include breakpoint($bp1){
						font-size: 12px;
						text-align: right;
						position: absolute;
						right: calc(100% - 15px);
						width: 59%;
						bottom: calc(100% - 5px);
						@include transform(rotate(-90deg));
						@include transform-origin(100% 100%);
					}
				}

				&-img{

					@include breakpoint($bp1){
						padding-left: 20px;
					}
					img{
						display: block;
						width: 100%;
					}
				}
			}
		}

		.slick{
			&-arrow{
				position: absolute;
				top: 50%;
				margin-top: -25px;
				@include breakpoint($bp1){
					top: 100%;
				}
			}
			&-prev{
				left: -40px;

				@include breakpoint($bp1){
					left: auto;
					right:140px;
				}
			}
			&-next{
				right:-40px;

				@include breakpoint($bp1){
					right: 30px;
				}
			}
		}
	}



	&__list{

		@include breakpoint($bp1){
			@include box-sizing();
			padding-right: 40px;
		}

		&-title{
			@extend %title;
			font-size: 40px;
			margin-bottom: 45px;

			@include breakpoint($bp1){
				font-size: 30px;
				margin: 130px 0 10px;
			}
		}

		&-subtitle{
			font-weight: 600;
			margin-bottom: 45px;
		}

		ul{
			line-height: 1.25;

			li{
				position: relative;

				@include breakpoint($bp1){
					margin: 20px 0 20px 35px;
				}

				&:before{
					content: '';
					display: block;
					width: 13px;
					height: 13px;
					background: $colorYellow;
					@include border-radius(50%);
					position: absolute;
					top:15px;
					left: -35px;

					@include breakpoint($bp1){
						top:5px;
					}
				}
			}
		}
	}
}




.about{
	@extend %stripesSectionYellow;
	position: relative;
	overflow: hidden;

	@include breakpoint($bp1){
		padding-top: 80px;
		padding-bottom: 60px;
		min-height: 21vw;
	}

	&__title{
		@extend %title;
		font-size: 50px;
		margin-bottom: 25px;

		@include breakpoint($bp1){
			margin-left: 50%;
		}
	}

	&__subtitle{
		@extend %title;
		font-size: 40px;

		@include breakpoint($bp1){
			margin-left: 50%;
			font-size: 30px;
			margin-top: 50px;
		}

		span{
			color: #fff;
		}
	}

	&__text{

		@include breakpoint($bp1){
			margin-left: 50%;
		}

		b{
			font-size: 1.125em;
		}

		p{
			margin: 45px 0;

			@include breakpoint($bp1){
				margin: 20px 0;
			}
		}
	}

	&__carousel{
		margin: 60px 0 0;

		@include breakpoint($bp1){
			margin: 0;
			width: calc( 20px + (4 * 100% / 12));
			position: absolute;
			top:80px;
			margin-left: -20px;
			left: (100% / 12);
		}

		.carousel{
			&__item{
				position: relative;

				&-title{
					font-size: 20px;
					font-weight: 600;
					color: #fff!important;
					margin-bottom: 5px;
					overflow: hidden;
					text-overflow: ellipsis;

					@include breakpoint($bp1){
						font-size: 12px;
						text-align: right;
						position: absolute;
						right: calc(100% - 15px);
						width: 59%;
						bottom: calc(100% - 5px);
						@include transform(rotate(-90deg));
						@include transform-origin(100% 100%);
					}
				}

				&-img{

					@include breakpoint($bp1){
						padding-left: 20px;
					}

					img{
						display: block;
						width: 100%;
					}
				}
			}
		}

		.slick{
			&-arrow{
				position: absolute;
				top: 50%;
				margin-top: -25px;

				@include breakpoint($bp1){
					top: 100%;
				}
			}
			&-prev{
				left: -40px;

				@include breakpoint($bp1){
					left: auto;
					right:140px;
				}
			}
			&-next{
				right:-40px;

				@include breakpoint($bp1){
					right: 30px;
				}
			}
		}
	}
}

.feedback{
	@extend %stripesSectionLight;

	overflow: hidden;

	&__head{
		background: #fff;
		margin: -65px (-100% / 7) 0;
		padding: 65px (100% / 7);

		@include breakpoint($bp1){
			margin-top: -100px;
			padding-top: 100px;
			padding-bottom: 40px;
		}
	}

	&__title{
		@extend %title;
		font-size: 50px;

		@include breakpoint($bp1){
			margin-bottom: 70px;
		}

		span{
			color: $colorYellow;
		}
	}



	&__carousel{
		margin: 60px 0 0;

		&_photo{
			@include breakpoint($bp1){
				margin: 0 (-100% / 10);
			}
		}

		&_text{
			@include breakpoint($bp1){
				width: 50%;
				float: left;
				margin-top: 70px;
			}
		}

		.carousel{
			&__item{
				position: relative;

				&-title{
					font-size: 20px;
					font-weight: 600;
					color: #b1b1b1;
					margin-bottom: 5px;
					overflow: hidden;
					text-overflow: ellipsis;

					@include breakpoint($bp1){
						font-size: 12px;
						text-align: right;
						position: absolute;
						right: calc(100% - 60px);
						width: 70%;
						bottom: 100%;
						@include transform(rotate(-90deg));
						@include transform-origin(100% 100%);
						margin: 0 5px 0 0;
					}
				}

				&-img{

					@include breakpoint($bp1){
						margin-left: 60px;
					}

					img{
						display: block;
						width: 100%;

						@include breakpoint($bp1){
							width: auto;
							height: 300px;
						}
					}
				}

				&-text{
					font-weight: 600;
				}

				&-author{
					font-weight: 600;
					color: $colorYellow;
					margin: 45px 150px 0 0;
				}
			}

			&_feedback-photo{
				margin-bottom: 40px;

				.slick{
					&-arrow{
						@include breakpoint($bp1){
							bottom: auto;
							top:-100px;
							background-color: #fafafa;
						}
					}
					&-prev{

						@include breakpoint($bp1){
							left: auto;
							right:calc(70px + (100%/12));
						}
					}
					&-next{

						@include breakpoint($bp1){
							right:calc((100%/12));
						}
					}
				}
			}

			&_feedback-text{
				margin-bottom: 40px;

				@include breakpoint($bp1){
					margin-bottom: 0px;
				}

				.slick{
					&-arrow{
						top: auto;
						bottom: 5px;
					}
					&-prev{
						left: auto;
						right:55px;

						@include breakpoint($bp1){
							right:70px;
						}
					}
					&-next{
						right:-40px;

						@include breakpoint($bp1){
							right:0;
						}
					}
				}
			}
		}

		.slick{
			&-arrow{
				position: absolute;
				top: 50%;
				margin-top: -25px;
			}
			&-prev{
				left: -40px;
			}
			&-next{
				right:-40px;
			}
		}
	}

	&__more{
		@extend %title;
		font-size: 40px;

		@include breakpoint($bp1){
			margin-left: 60%;
			margin-top: 70px;
			font-size: 30px;
		}

		span{
			color: $colorYellow;
		}
	}
}

.subscribe{
	@extend %stripesSectionYellow;
	overflow: hidden;

	@include breakpoint($bp1){
		padding-top: 60px;
		padding-bottom: 50px;
	}

	&__title{
		@extend %title;
		font-size: 40px;
		margin-bottom: 45px;

		@include breakpoint($bp1){
			font-size: 30px;
			width: 30%;
			float: left;
		}

		span{
			color: #fff;
		}
	}

	&__soc{

		@include breakpoint($bp1){
			margin-left: 30%;
		}

		&-item{
			display: inline-block;
			vertical-align: top;

			@include breakpoint($bp1){
				display: block;
				float: left;

				&:not(:last-child) {
					margin-right: 20px;
					margin-bottom: 20px;
				}
			}
		}

		&-link{
			width: 90px;
			height: 90px;
			margin-right: 40px;
		}
	}
}

.contact{
	overflow: hidden;

	@include breakpoint($bp1){
		padding-bottom: 80px;
		min-height: 75px;
	}

	&__addres{
		background: #fff;
	}

	&__title{
		@extend %title;
		font-size: 50px;
		margin-bottom: 45px;

		@include breakpoint($bp1){
			float: left;
			width: 30%;
			margin-right: 10%;
			margin-bottom: 0;
		}

		span{
			color: $colorYellow;
		}
	}

	&__item{

		@include breakpoint($bp1){
			float: left;
			width: 20%;
		}

		&-title{
			@extend %title;
			font-size: 40px;
			margin-top: 45px;
			margin-bottom: 10px;

			@include breakpoint($bp1){
				margin-top: 10px;
				font-size: 30px;
			}
		}

		&-text{
		}
	}

	&__map{
		height: 540px;
		background: #eaeaea;


		@include breakpoint($bp1){
			text-align: right;

			min-height: calc(100vh - 255px);
		}
	}
}

.footer{
	background: $colorDark;
	color: #fff;


	@include breakpoint($bp1){
		text-align: right;
	}

	.inner{
		overflow: hidden;
		padding-top: 35px;
		padding-bottom: 35px;
	}

	&__text{
		float: left;
		@include breakpoint($bp1){
			display: inline-block;
			vertical-align: top;
			text-align: left;
			float: none;
		}
	}

	&__title{
		font-weight: 700;
		float: right;
		@include breakpoint($bp1){
			display: inline-block;
			vertical-align: top;
			text-align: left;
			float: none;
			margin-left: 20px;
		}
	}
}