.overflow_hidden{
	overflow: hidden;
}



.popup{
	display: none;
	color: #343434;

	&-inner{
		bottom: 0;
		font-size: 0;
		left: 0;
		right: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&-layout{

		text-align: left;
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 100%;
		z-index: 102;
		font-size: 36px;

		@include breakpoint($bp1) {
			font-size: 16px;
		}
	}

	&-close{
		width: 40px;
		height: 40px;
		position: absolute;
		cursor: pointer;
		top: 40px;
		right: 85px;
		@include opacity(1);
		z-index: 1;

		&:hover{
			@include opacity(0.8);
		}
	}

	&-overlay{
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}

}


.popup_course{

	.popup{

		&-inner {

			margin-top: 77px;

			@include breakpoint($bp1) {
				margin-top: 0;
				margin-left: 50px;
			}
		}

		&-layout {
			width: 100%;
			font-size: 36px;

			@include breakpoint($bp1) {
				width: (8 * 100%) / 12;
				font-size: 16px;
			}
		}

		&-close {
			right: 50%;
			margin-right: -20px;
			width: 40px;
			height: 40px;
			background-size: contain;

			@include breakpoint($bp1) {
				right: 12.5%;
			}
		}

		&-header{
			padding: 130px (100% / 9) 40px;
			@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.35));

			@include breakpoint($bp1){
				padding: 37px (100% / 8) 30px;
				min-height: 50px;
			}

			&_before {
				background: $colorYellow;
				.popup-header__before {
					display: block;
				}
				.popup-header__after {
					display: none;
				}

				.popup-close {
					background-image: url("/img/popup-close_w.svg");
				}
			}

			&_after {
				.popup-header__before {
					display: none;
				}
				.popup-header__after {
					display: block;
				}

				.popup-close {
					background-image: url("/img/popup-close_y.svg");
				}
			}

			&__message {
				font-size: 40px;
				font-weight: 900;
				margin-bottom: 30px;
				color: #fff;

				@include breakpoint($bp1) {
					font-size: 30px;
					margin-bottom: 0;
					margin-right: 25%;
				}
			}

			&__btn {
				.btn {
					background: #fff;
					color: #b2b2b2;
					padding: 0;
					height: 90px;
					line-height: 90px;

					&:hover {
						color: $colorYellow;
					}

					@include breakpoint($bp1) {
						position: absolute;
						top: 37px;
						right: 17.5%;
						width: 150px;
						font-size: 16px;
						height: 50px;
						line-height: 50px;
					}
				}
			}

			&__form {

				@include breakpoint($bp1) {
					margin: 0 -10px;
					position: relative;
				}

				.form {
					&-field {
						margin: 20px 0;

						@include breakpoint($bp1) {
							float: left;
							width: calc(50% - 100px);
							@include box-sizing();
							padding: 0 10px;
							margin: 0;
						}

						input {
							font-size: 30px;
							height: 90px;
							font-weight: 900;
							line-height: 82px;
							border: 4px solid #b2b2b2;
							text-align: center;
							@include box-sizing();
							@include border-radius(100px);
							width: 100%;
							padding: 0;

							@include breakpoint($bp1) {
								font-size: 16px;
								text-align: left;
								height: 50px;
								line-height: 56px;
								border-width: 3px;
								@include border-radius(45px);
								padding: 0 25px;
							}
						}

						&_submit {
							@include breakpoint($bp1) {
								width: 150px;
							}

							.btn {
								border: none;
								line-height: 50px;

								@include breakpoint($bp1) {
									text-align: center;
								}
							}
						}

						&.error {
							color: red;

							input {
								border-color: red;
							}
						}

						&__message {
							font-size: 16px;
							text-align: center;
							margin-top: 5px;

							@include breakpoint($bp1) {

								text-align: left;
								font-size: 12px;
								position: absolute;
							}
						}
					}
				}
			}
		}

		&-content {
			padding: 30px (100% / 9) 60px;

			@include breakpoint($bp1) {
				padding: 50px (100% / 8);
			}
		}

		&-title {
			font-size: 50px;
			font-weight: 900;
			margin-bottom: 45px;

			@include breakpoint($bp1) {
				font-size: 30px;
			}
		}

		&-form {
			margin-bottom: 35px;

			@include breakpoint($bp1) {
				margin: 0 -10px;
				position: relative;
			}

			.form {

				&-field {
					margin: 20px 0;

					@include breakpoint($bp1) {
						float: left;
						width: (100% / 3);
						@include box-sizing();
						padding: 0 10px;
						margin: 0;
					}

					input {
						font-size: 30px;
						height: 90px;
						font-weight: 900;
						line-height: 82px;
						border: 4px solid #b2b2b2;
						@include box-sizing();
						@include border-radius(45px);
						width: 100%;
						padding: 0 50px;

						@include breakpoint($bp1) {
							font-size: 16px;
							height: 50px;
							line-height: 56px;
							border-width: 3px;
							@include border-radius(45px);
							padding: 0 25px;
						}
					}

					&.error {
						color: red;

						input {
							border-color: red;
						}
					}

					&_submit {

						@include breakpoint($bp1) {
							position: absolute;
							top: 80px;
							right: 0;
							width: auto;
						}

						.btn {
							border: none;
							text-align: center;
							white-space: normal;
							padding: 28px 30px 25px;
							height: auto;
							line-height: 1.2;

							@include breakpoint($bp1) {
								padding: 17px 30px 14px;
							}
						}
					}

					&__message {
						font-size: 16px;
						text-align: center;
						margin-top: 5px;

						@include breakpoint($bp1) {

							text-align: left;
							font-size: 12px;
							position: absolute;
						}
					}
				}

				&-text {

					@include breakpoint($bp1) {
						margin: 35px 390px 0 10px;
						float: left;
					}
				}
			}
		}


		&-tabs{
			@include breakpoint($bp1) {
				margin-bottom: 40px;
			}

			&__menu{
				float: right;

				@include breakpoint($bp1) {
					display: none;
				}

				&-item{
					@extend %title;
					font-size: 50px;
					width: 90px;
					height: 90px;
					line-height: 90px;
					background: #fafafa;
					@include border-radius(50%);
					text-align: center;
					color: #b1b1b1;
					cursor: pointer;
					@include box-shadow(0 2px 3px rgba(26, 26, 26, 0.2));
					position: relative;
					@include user-select();
					margin-bottom: 20px;

					&:active {
						top: 2px;
						@include box-shadow(0 0px 1px rgba(26, 26, 26, 0.2));
					}

					&.is-active {
						color: $colorYellow;
					}
				}
			}

			&__list{

				overflow: hidden;

				&-item{
					display: none;
					margin: 45px 150px 45px 0;

					@include breakpoint($bp1) {
						display: block;
						float: left;
						width: (100% / 3);
						margin: 0;
						@include box-sizing();
						padding-left: 20px;
					}

					&.is-active{
						display: block;
					}
				}

				&-ico {
					margin-bottom: 50px;

					@include breakpoint($bp1) {
						margin-bottom: 40px;
						width: 50%;
					}

					img {
						width: 100%;
						max-height: 270px;
						display: block;
						margin: 0 auto;

						@include breakpoint($bp1) {
							height: 130px;
						}
					}
				}
			}
		}
	}
}